// Demo Application Definition

// App name is used for output files etc.
name "demo"

// Currently the board information is inlined. It would be nice to refer to an
// external file, like we already do for chip definitions.
board {
    name "nucleo-g031k8"
    chip "stm32g031k8"
}

// Instructions for building the kernel.
kernel {
    workspace-crate "kernel-generic-stm32g031"
    stack-size 1024
}

// IPC server. This must be first for ping to find it, currently.
task "pong" {
    workspace-crate "pong"
    stack-size 256
    priority 0
}

// IPC generator. This can be in any position.
task "ping" {
    workspace-crate "ping"
    stack-size 256
    priority 1
}

// Idle task. This must be the lowest priority task.
task "idle" {
    git-crate {
        repo "https://github.com/oxidecomputer/hubris"
        package "task-idle"
        rev "7fcfe60dda83e1051bce8c535b0a8cf5c6065ab4"
    }
    toolchain "nightly-2024-09-17"
    stack-size 128
    priority 2
}
