// USBHID driver interface.

interface "usb-hid"

// Operations:

method "enqueue_report" {
    doc "Makes a report ready to transmit when requested by the host."

    operation 0
    arg "endpoint" "u8"
    lease "report" "u8" {
        read
    }

    // true if enqueued, false if the previous report is still pending.
    result "Result<bool, EnqueueError>"
}

method "get_event" {
    doc "Retrieves the pending event from the USB stack, if any."

    operation 1

    result "Option<UsbEvent>"
    auto-retry
}

enum "EnqueueError" {
    on-task-death "Died"

    case "Died"
}

enum "UsbEvent" {
    case "Reset"
    case "Configured"
    case "ReportDescriptorNeeded"
    case "ReportNeeded"
}
